/*//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  BlackQ    Style  //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 200px;
    background-color: #ebedee;
}

::-webkit-scrollbar-thumb {
    background-color: #ced2d3;
    border-radius: 200px;
}