
  .x-style{
    width: 15px;
    height: 12px;
    margin: 4px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border-radius:2px;
  }
  .dark-gray{
    background-color:#302f31;
  }

  .dark-white{
    background-color:#d2d3d3;
  }

  .eye-green{
    background-color:#3d7a6b;
  }

  .x-selected{
    border: 1px solid #899a89;
  }

  .x-container{
    background-color: #1f2323;
    text-align: center;
    width: 160px;
    height: 200px;
    color: #899a89;
    margin: 0px auto;
    border: 1px solid #343a33
  }

  .x-div-allinline {
    text-align:center;
    padding-top:30px;
  }

  .x-subdiv-allinline {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
    /* width: 60px; */
    height: 20px;
    font-size: small;
  }

  .x-div-bottom {
    text-align: center;
    margin-top: 30px;
    height: 20px;
    font-size: 5px;
    color: #363538;
    background-color: #1e1f1f;
  }
  .x-qr{
    width: 14px;
    height: 15px;
    display: inline-flex;
    background:url(../images/qr-a.png) no-repeat 0 0;;
  }

  .x-on-off {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
    width: 70px;
    height: 20px;
}

  .x-back {
    width: 60px;
    height: 10px;
    border: 1px solid #a0e8a0;
    background-color: #8787ec;
    position: absolute;
    border-radius: 16px;
    transition: background-color 300ms linear;
}

  .x-front {
    width: 24px;
    height: 10px;
    border: 1px solid #a0e8a0;
    border-radius: 10px;
    position: relative;
    margin-right: 33px;
    background-color: #8f9490;
    transition: left 300ms ease-in-out, right 300ms ease-in-out;
}

/* lightgrey; */