/*//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  EasySearch  ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#x-container {
    background: rgba(0, 0, 0, 0) none repeat scroll !important;
    top: 24%;
    right: 0px;
    margin-right: -20px;
    position: fixed;
    z-index: 999999;
    width: 60px;
    height: 60px;
}

#x-container:hover {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #009688;
    transition: all 0.5s ease-in-out;
    transform: translate(-15px, 0px);
}

#x-iframe-widget {
    background: rgba(0, 0, 0, 0) none repeat scroll !important;
    z-index: 20;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    vertical-align: top;
    width: 60px;
    height: 60px;
}

#app-container {
    background: rgba(0, 0, 0, 0.9) none repeat scroll !important;
    /* 颜色 渐变 标准写法 */
    /*background-image: linear-gradient(#063053, #395873, #5c7c99);*/
    float: right;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #ecf1ec;
    position: fixed;
    top: 0px;
    left: 0px;
}

#app-iframe-search {
    /*background: rgba(0, 0, 0, 0) none repeat scroll !important;*/
    z-index: 20;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  EasySearch Style  //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 200px;
    background-color: #ebedee;
}

::-webkit-scrollbar-thumb {
    background-color: #ced2d3;
    border-radius: 200px;
}